*{
    margin: 0;
    padding: 0;
}

.navigation {
    font-family: var(--font1);
    color: white;
    height: 80px;
    background-color: rgb(104, 14, 14);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    font-size: x-large;
    display: flex;
    
}
.nav-left b{
    font-family: var(--font2);
}
.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 60px;
}
.nav-left ul li{
    list-style: none;
    margin: 0 14px;
}
.nav-left ul li a{
    text-decoration: none;
    color: white;
}
.nav-right{
    font-size: large;
}
.content {

    display: flex;
    height: 395px;
    margin-top: 35px;
    background-color: rgba(193, 210, 213, 0.934);
}
.content-left{
font-family: var(--font1);
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
}
.content-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-right img{
  height: 350px;
  border: 2px solid black;
  border-radius: 200px;
}
.footer {
    height: 50px;
    background-color: rgb(104, 14, 14);
}