*{
    margin: 0;
    padding: 0;
}

.navigation {
    margin-top: 25px;
    font-family: var(--font1);
    color: white;
    height: 80px;
    background-color: rgb(75, 89, 103);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    font-size: 35px;
    display: flex;
    
}
.nav-left b{
    font-family: var(--font2);
}
.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 60px;
    font-size: 22px;
}
.nav-left span{
    font-size: 35px;
    padding-top: 7px;
}
.nav-left ul li{
    list-style: none;
    font-size: 25px;
    margin: 0 14px;
}

.nav-left ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* transition: all 0.3s ease-in-out; */
}
.nav-left ul li a:hover{
    color: var(--main-bg-color);
    font-weight: bolder;
}
.nav-right{
    font-size: large;
}
.content {

    display: flex;
    height: 395px;
    margin-top: 35px;
    /* background-color: rgba(193, 210, 213, 0.934); */
    padding: 9px;
    /* background-image: url('../img/home.jpg'); */
    position: relative;
}
.content::after{
    content: "";
    background-image: url('../img/home.jpg');
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;

}
.content-left{
font-family: var(--font1);
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
padding:50px;
z-index: 1;

}
.content-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-right img{
  height: 300px;
  border: 2px solid black;
  border-radius: 200px;
}
.home-articles{
   /* height: 455px; */
   padding: 18px;
   background-color: rgba(126, 167, 173, 0.4);
   padding-top: 12px;
}
.home-article{
  display: flex;
  margin: 25px;
  
}
.home-article img{
    width: 300px;
}
.home-article-content{
    align-self: center;
    padding: 25px;
}

.home-article-content a{
    text-decoration: none;
    color: rgb(55, 58, 68);
}
.home-article span{
  display: flex;
}
.footer {
    height: 50px;
    background-color: rgb(75, 89, 103);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* color: black; */
}